[submodule "dotnet-worker-template"]
	path = dotnet-worker-template
	url = https://github.com/stack-spot/dotnet-worker-template.git
[submodule "dotnet-metrics-app-plugin"]
	path = dotnet-metrics-app-plugin
	url = https://github.com/stack-spot/dotnet-metrics-app-plugin.git
[submodule "dotnet-secrets-app-plugin"]
	path = dotnet-secrets-app-plugin
	url = https://github.com/stack-spot/dotnet-secrets-app-plugin.git
[submodule "dotnet-trace-app-plugin"]
	path = dotnet-trace-app-plugin
	url = https://github.com/stack-spot/dotnet-trace-app-plugin.git
[submodule "dotnet-repository-app-plugin"]
	path = dotnet-repository-app-plugin
	url = https://github.com/stack-spot/dotnet-repository-app-plugin.git
