[submodule "dotnet-worker-template"]
	path = dotnet-worker-template
	url = https://github.com/stack-spot/dotnet-worker-template.git
[submodule "dotnet-logging-plugin"]
	path = dotnet-logging-plugin
	url = https://github.com/stack-spot/dotnet-logging-plugin.git
[submodule "dotnet-trace-plugin"]
	path = dotnet-trace-plugin
	url = https://github.com/stack-spot/dotnet-trace-plugin.git
[submodule "dotnet-metrics-plugin"]
	path = dotnet-metrics-plugin
	url = https://github.com/stack-spot/dotnet-metrics-plugin.git
[submodule "dotnet-queue-plugin"]
	path = dotnet-queue-plugin
	url = https://github.com/stack-spot/dotnet-queue-plugin.git
[submodule "dotnet-notification-plugin"]
	path = dotnet-notification-plugin
	url = https://github.com/stack-spot/dotnet-notification-plugin.git
[submodule "dotnet-repository-plugin"]
	path = dotnet-repository-plugin
	url = https://github.com/stack-spot/dotnet-repository-plugin.git
[submodule "dotnet-secrets-plugin"]
	path = dotnet-secrets-plugin
	url = https://github.com/stack-spot/dotnet-secrets-plugin.git
